.event-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

.event-section.play {
  opacity: 1;
  transform: translateY(0);
}

.slide-left {
  animation: slideLeft 1s ease forwards;
}

.slide-right {
  animation: slideRight 1s ease forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
